.nav {
    display: flex;
    font-size: $size-btn;
    gap: 4rem;
    align-items: center;
    margin-left: auto;

    @media all and (max-width: $media-m) {
            position: fixed;
            right: 0;
            top: 0;
            flex-direction: column;
            background-color: white;
            row-gap: 4rem;
            padding: 10rem 6rem 4rem;
            height: 100vh;
            width: 100%;
            max-width: 30rem;
            z-index: 1;

            transform: translateX(100%);
            transition: all 0.3s ease;
    }

    @media all and (max-width:$media-s) {
        max-width: 100%;
    }

    &_active {
        transform: translateX(0);
        transition: all 0.3s ease-in;
    }

    &__link {
        text-decoration: none;
        color: black;
        flex-shrink: 0;
    }
}